body{
    counter-reset: section;
}
.form_details {

}
.box{
    position: static;
    float:right;
    margin-right:150px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px  white;
        width: 450px;
        height: 450px;
        padding: 10px;
        border: 2px solid white;
        overflow-y: scroll;
        
    }
    table ,th,td {
        border: 1px solid white;
        table-layout: auto;

    }
    th{
        padding-left: 5px;
        padding-right: 5px;
        color:gold;

    }
    table{
        margin: 10px auto;
    

    }
    td{
        color:whitesmoke;
        text-align: center;
    
    
    }

#ref_no{
position: absolute;
}
#ref_id{

        }
#date{
position: relative;
margin-left: 250px;
}
#date_value{
}
#p_name{
position: absolute;
}
#p_details{

}
#age{
    position: relative;
    margin-left: 250px;

}
#age_details{

}
#test{
    position: absolute;

    }
    #t_details{
    
    }
    #d_name{
     position: relative;
     margin-left: 250px;

    }
    #d_details{
    
    }
    #gender{
    } 
    #addr{

    }
    #addr_details{

    }
    #ph_no{
        position: absolute;

    }
    #ph_details{
        

    }
    #sex{
    position: relative;
    margin-left: 250px;
    }
    #sex_value{

    }

button {
    margin: 10px;
    color:blue;
}